/********************/
/* AddCustomerCards */
/********************/


@font-face {
    font-family: "Ploni";
    src: url("./fonts/ploni-ultralight-aaa.woff") format("woff"), url("./fonts/ploni-ultralight-aaa.eot") format("eot");
    font-weight: 200;
}

@font-face {
    font-family: "Ploni";
    src: url("./fonts/ploni-light-aaa.woff") format("woff"), url("./fonts/ploni-light-aaa.eot") format("eot");
    font-weight: 300;
}

@font-face {
    font-family: "Ploni";
    src: url("./fonts/ploni-regular-aaa.woff") format("woff"), url("./fonts/ploni-regular-aaa.eot") format("eot");
}

@font-face {
    font-family: "Ploni";
    src: url("./fonts/ploni-medium-aaa.woff") format("woff"), url("./fonts/ploni-medium-aaa.eot") format("eot");
    font-weight: 500;
}

@font-face {
    font-family: "Ploni";
    src: url("./fonts/ploni-demibold-aaa.woff") format("woff"), url("./fonts/ploni-demibold-aaa.eot") format("eot");
    font-weight: 600;
}

@font-face {
    font-family: "Ploni";
    src: url("./fonts/ploni-bold-aaa.woff") format("woff"), url("./fonts/ploni-bold-aaa.eot") format("eot"); /*, url('./fonts/ploni-bold-aaa.woff?#iefix') format('embedded-opentype'), url('./fonts/ploni-bold-aaa.woff') format('truetype');*/
    font-weight: 700;
}

@font-face {
    font-family: "Ploni";
    src: url("./fonts/ploni-ultrabold-aaa.woff") format("woff"), url("./fonts/ploni-ultrabold-aaa.eot") format("eot");
    font-weight: 800;
}

@font-face {
    font-family: "Ploni";
    src: url("./fonts/ploni-black-aaa.woff") format("woff"), url("./fonts/ploni-black-aaa.eot") format("eot");
    font-weight: 900;
}


table.add_customer_cards {
    font-family: 'Ploni',Arial;
    /* text-align: right; */
    /* font-size: 15px; */
    padding: 9px 20px 8px 0px;
}

    table.add_customer_cards .header_message {
        font-size: 15px;
    }

div.TabLayout div.add_cards {
    width: 676px;
    text-align: right;
}
/*Tab Control*/
td.item_template {
    font-family: 'Ploni',Arial;
    font-weight: bold;
    font-size: 15px;
    color: #212121;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    line-height: 34px;
    background-color: #E4E7EC;
    text-align: center;
    vertical-align: middle;
}

td.item_templateBlue {
    color: #005288;
}

td.hand_pointer {
    cursor: pointer;
}

td.selected_item_templet {
    font-family: 'Ploni',Arial;
    font-weight: bold;
    font-size: 15px;
    color: #212121;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    line-height: 34px;
    text-align: center;
    vertical-align: middle;
    border-top: solid 1px #e3e0e0;
    border-right: solid 1px #e3e0e0;
    border-left: solid 1px #e3e0e0;
    border-bottom: 1px solid white;
    z-index: 9999;
    position: relative;
    top: -1px;
}

table.field_info {
    display: inline;
}

/*Multi View*/
div.multi_view_box {
    width: 676px;
    display: block;
}

    div.multi_view_box td.left_corner {
        width: 21px;
        background-image: url('Images/whitebox_leftcorner.gif');
        background-repeat: no-repeat;
        background-position: top left;
    }

    div.multi_view_box td.top_row_right {
        width: 5px;
        border-top: solid 1px #e3e0ec;
    }

    div.multi_view_box td.top_row_center {
        border-top: solid 1px #e3e0ec;
    }

    div.multi_view_box td.top_row_left {
        width: 122px;
        border-top: solid 1px #e3e0ec;
    }

    div.multi_view_box td.right_corner {
        width: 266px;
        border-right: solid 1px #e3e0ec;
    }

    div.multi_view_box div.multi_view {
        border: solid 1px #e3e0e0;
        border-top: none;
    }

div.add_cards div.first_view_box {
    padding-right: 17px;
    padding-top: 14px;
    font-family: 'Ploni',Arial;
    font-size: 14px;
    border-top: 1px solid #e3e0e0;
    color: #212121;
}

div.add_cards div.second_view_box {
    padding-right: 17px;
    width:658px;
    padding-top: 14px;
    font-family: 'Ploni',Arial;
    font-size: 14px;
    border-top: 1px solid #e3e0e0;
    color: #212121;
}

div.first_view_box div.top_text {
    padding-bottom: 0px;
}

div.first_view_box div.vld_summary {
    border-collapse: collapse;
    display: inline;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.first_view_box div.form_box {
    padding-top: 10px;
}

div.first_view_box td.help_icon {
    width: 18px;
    padding-right: 3px;
    vertical-align: top;
    padding-top: 3px;
}

div.first_view_box td.span_text {
    width: 265px;
    vertical-align: middle;
    padding-left: 0px;
    font-weight: bold;
    font-size: 13px;
}

div.first_view_box td.validators {
    display: inline;
}

    div.first_view_box td.validators img {
        vertical-align: middle;
    }

div.first_view_box div.chkbox {
    padding-top: 10px;
}

    div.first_view_box div.chkbox:last-of-type{
        padding-bottom:10px;
    }

    div.first_view_box div.dotan {
        width: 640px;
        height: 10px;
        background-image: url('Images/dots.gif');
        background-repeat: repeat-x;
        background-position: bottom;
    }

div.first_view_box div.submit {
    width: 640px;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 10px;
    text-align: left;
}

div.first_view_box div.fix_redinfo table.red_info {
    margin-top: 15px;
}

div.add_cards div.first_view_box div.vld_item,
div.add_cards div.second_view_box div.vld_item {
    padding-right: 0px;
}

div.add_cards div.multi_view_box div.multi_view div.tab_body {
    background-color: White;
    border: none;
    height: 100%;
    overflow: visible;
    width: 99%;
}

div.multi_view div.result_box {
    width: 560px;
    height: auto;
    text-align: right;
}

div.multi_view div.messages_box {
    padding-right: 17px;
    display: inline-block;
}

div.multi_view div.messages {
    width: 640px;
}

div.multi_view div.return_button {
    padding: 10px 0px;
    display: block;
}

div.second_view_box {
    padding-right: 17px;
}

    div.second_view_box span {
        font-family: 'Ploni',Arial;
        font-size: 13px;
        color: #000000;
    }

    div.second_view_box div.top_message {
        width: 640px;
    }

    div.second_view_box div.vld_summary {
        border-collapse: collapse;
        display: inline;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    div.second_view_box div.vld_item {
        font-family: 'Ploni',Arial;
        color: #000000;
        font-size: 15px;
        padding: 2px 12px 2px 0px;
        background-position: 100% 7px;
        background-repeat: no-repeat;
    }

    div.second_view_box table.red_info {
        margin-top: 15px;
        width: 640 !important;
    }

    div.second_view_box div.form_box {
        width: 640px;
        padding-top: 28px;
    }

    div.second_view_box td.label {
        width: 224px;
        vertical-align: middle;
    }

    div.second_view_box td.text_box {
        width: 205px;
    }

    div.second_view_box td.help_icon {
        width: 16px;
        vertical-align: top;
        margin: 0px;
        padding-right: 3px;
        padding-top: 3px;
    }

    div.second_view_box td.validators {
        width: auto;
    }

    div.first_view_box td.validators,
    div.second_view_box td.validators {
        display: inline-block;
        vertical-align: top;
        padding-top: 3px;
        padding-right: 5px;
        line-height: 13px;
    }

    div.second_view_box div.credit_card_number,
    div.second_view_box div.credit_card_date,
    div.second_view_box div.credit_card_digits,
    div.second_view_box div.credit_card_identity {
        padding: 4px 0px;
    }

    div.second_view_box td.date_seperator {
        vertical-align: middle;
        width: 19px;
        text-align: center;
    }

    div.second_view_box td.year_textbox div {
        float: right;
        display: inline;
    }

    div.second_view_box td.month_textbox div {
        float: left;
        display: inline;
    }

    div.second_view_box div.chkbox {
        font-family: 'Ploni',Arial;
        font-size: 13px;
        color: #000000;
    }

    div.second_view_box div.legal_approval {
        font-family: 'Ploni',Arial;
        font-size: 13px;
        color: #000000;
        font-weight: bold;
    }

    div.second_view_box div.leagle_terms {
        position: relative;
        height: 1px;
    }

    div.second_view_box .buttons {
        width: 640px;
        padding-bottom: 15px;
        text-align: left;
        vertical-align: bottom;
        padding-top: 20px;
        padding-left: 0px;
    }

    div.second_view_box div.LeagleTermsFloatingToolTip {
        position: absolute;
        width: 425px;
        display: none;
        top: -110px;
        z-Index: 100;
        left: 160px;
        height: 94px;
        background: white;
        border: 1px solid #004D71;
        padding: 2px 5px 10px 2px;
    }

    div.second_view_box div.text {
        padding-right: 5px;
        padding-top: 7px;
        padding-left: 3px;
    }

div.first_view_box td.text_box {
    padding-right: 5px;
    width: 205px;
}

div.first_view_box input.TextBox,
div.second_view_box input.TextBox {
    border: 1px solid #7F9DB9;
    background-color: white;
    color: #000000;
    font-family: 'Ploni',Arial;
    font-size: 12px;
    height: 18px;
}

div.second_view_box input.year_text_box {
    width: 90px;
}

div.second_view_box input.month_text_box {
    width: 90px;
}

div.second_view_box td.text_box span {
    padding: 0px 2px;
}

div.second_view_box table.field_info td {
    vertical-align: middle;
}

div.multi_view_box a {
    color: #1b5ece;
    font-size: 14px;
}

div.second_view_box div.legal_approval a {
    color: #1b5ece;
    font-size: 15px;
    text-decoration: underline;
}

div.multi_view_box table.success_info td.displayimage {
    background-image: url(images/icon_ishur.gif);
}

div.multi_view_box div.message_container {
    width: 640px;
}

div.add_cards table.red_info td.center {
    padding: 6px;
}

div.add_cards div.chkbox input,
div.add_cards div.legal_approval input {
    margin-right: 0px;
    padding-right: 0px;
    width: 13px;
}

div.add_cards div.chkbox label,
div.add_cards div.legal_approval label {
    margin: 0px 4px;
    display: inline-block;
    line-height: 16px;
    vertical-align: 2px;
    padding-right: 4px;
}

div.add_cards div.legal_approval table div {
    display: inline;
}

div.add_cards div.legal_approval img {
    vertical-align: middle;
    margin-right: 3px;
}

div.add_cards table.success_info TD.center {
    padding-right: 5px;
}

/*****************/
/* CommonDetails */
/*****************/

table.CommonDetailsHeader td.title {
    width: 202px;
    white-space: nowrap;
}

table.CommonDetailsHeader td.combo_cards_list {
    text-align: right;
    width: 460px;
}

table.CommonDetailsHeader td.help_button {
    text-align: left;
    padding-left: 20px;
}

table.common_details_outer_table td.top_left_corner {
}

table.common_details_outer_table td.left_side_border {
    /*border-left: solid 1px #e3e0ec;*/
}

table.common_details_outer_table td.left_side_border_bold_text {
    /*border-left: solid 1px #e3e0ec;*/
    font-weight: bold;
}

table.common_details_outer_table td.right_side_border {
    /*border-right: solid 1px #e3e0ec;*/
}

table.tblMultiView td {
    color: black;
    font-family: 'Ploni',Arial;
    text-align: right;
}

table.tblMultiView a {
    color: #1b5ece;
    font-size: 13px;
    text-decoration: none;
}

table.tblMultiView th.header {
    padding-right: 10px;
    color: #212121;
    font-weight: bold;
    border-top-left-radius: 8px;
    line-height: 34px;
    vertical-align: middle;
    background-color: #a3e3ff;
    text-align: right;
    font-size: 15px;
    border-top-right-radius: 8px;
}

table.tblMultiView tr.data_row {
    line-height: 30px;
    background: #f7f9ff;
}

table.tblMultiView tr.border_row {
    line-height: 1px;
}

table.tblMultiView td.border_cell_right {
    background-image: url('Images/dots.gif');
    background-repeat: repeat-x;
    border-right: solid 1px #e3e0ec;
}

table.tblInterests tr.header {
    color: #212121;
    font-weight: bold;
    line-height: 34px;
    vertical-align: middle;
    background-color: #a3e3ff;
    text-align: right;
    font-size: 15px;
}

table.tblInterests tr.header td.headerTitle {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding-right: 10px;
}

table.tblInterests tr.columnsTitles {
    line-height: 30px;
    background: #f7f9ff;
}

table.tblInterests tr.columnsTitles td {
    width: 25%;
    text-align: center;
    font-weight: 700;
}

table.tblInterests tr.dottedLine {
    line-height: 1px;
}

table.tblInterests tr.dottedLine td {
    background-image: url('Images/dots.gif');
}

table.tblInterests tr.dataRow {
    line-height: 40px;
}

table.tblInterests tr.dataRow td.interestType {
    padding-right: 10px;
    font-weight: 700
}

table.tblInterests tr.dataRow td.interestData {
    text-align: center;
    line-height: 1;
    vertical-align: middle;
}

table .common_details_outer_table td.bottom_side_border {
    /*border-bottom: solid 1px #e3e0ec;*/
    background-image: none;
}

table.common_details_outer_table div.clubsBox {
    padding-top: 5px;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 500px;
}

table.common_details_outer_table span.clubsHeader {
    font-size: 15px;
    font-weight: bold;
}

table.common_details_outer_table td.clubSeprator {
    height: 10px;
    line-height: 10px;
}

table.common_details_outer_table span.clubDetails {
    font-size: 13px;
    padding-top: 10px;
}

table.tblMultiView input.imgBtnCursor {
    cursor: pointer;
}

table.intel_budget_grid thead.CssHeadClass {
    text-align: right;
    font-weight: bold;
    font-family: 'Ploni',Arial;
    font-size: 13;
    color: Black;
    background-color: #f2efea;
}

table.common_details_outer_table td.title {
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    padding-right: 3px;
    padding-top: 10px;
}

table.common_details_outer_table td.border_row {
    line-height: 5px;
    height: 5px;
}

table.common_details_outer_table td.img_cell {
    text-align: center;
    padding-right: 3px;
}

    table.common_details_outer_table td.img_cell img {
        width: 4px;
        height: 4px;
        margin-bottom: 2px;
        border: 0px;
    }

.CssColumnHeaderClass {
    line-height: 22px;
}

.DisplayInline {
    display: inline;
}

td.multi_view_second_view .errorMsg {
    text-align: right;
    width: 100%;
    font-family: 'Ploni',Arial;
    font-size: 12px;
    font-weight: bold; /*anti-alising:none;*color:#CC0000;padding-top:10px;padding-bottom:10px;*/
}

table.intel_budget_grid {
    width: 643px;
}

table.common_details_outer_table span.intel_budget_grid_title {
    padding-right: 10px;
    color: White;
    font-weight: bold;
    line-height: 20px;
    vertical-align: middle;
    background-color: #0082ca;
    text-align: right;
    font-size: 13px;
    display: block;
}

table.transactions_grid {
    border-collapse: collapse;
}

    table.transactions_grid TH.grid_common_title {
        height: 26px;
        line-height: 26px;
    }

        table.transactions_grid TH.grid_common_title SPAN.caption {
            margin-top: 0px;
        }


/**********************/
/* ChangeDebitDate    */
/**********************/
div.ChangeDebitDate {
    padding-left: 20px;
}

    div.ChangeDebitDate div.bullet {
        background-image: url('../../App_Themes/Default/Images/green_bullet.gif');
        direction: rtl;
        background-repeat: no-repeat;
        background-position: right 66%;
        padding-right: 10px;
        padding-top: 3px;
    }

    div.ChangeDebitDate div.no_bullet {
        padding-right: 10px;
    }

/**********************/
/* PointsAccumulation */
/**********************/

table.points_header { /*width:100%;text-align:right;padding-bottom:7px;*/
}

    table.points_header tr td.title { /*font-size:18px;font-weight:bold;color:Black;*/
        width: 210px;
    }

    table.points_header tr td.combo {
        width: 466px;
    }
/*table.points_header tr td.title div.combo_cards_list		{ display:inline; }*/

table.points_outer_table tr td.top_left_corner {
    background-image: url('Images/whitebox_leftcorner.gif');
    background-repeat: no-repeat;
    background-position: top left;
    width: 21px;
}

table.points_outer_table tr td.top_right_corner {
    border-top: solid 1px #e3e0ec;
    border-right: solid 1px #e3e0ec;
    width: 655px;
}

table.points_outer_table tr td.left_side_border {
    border-left: solid 1px #e3e0ec;
}

table.common_details_outer_table td.left_side_border_bold_text {
    /*border-left: solid 1px #e3e0ec;*/
    font-weight: bold;
}

table.points_outer_table tr td.right_side_border {
    border-right: solid 1px #e3e0ec;
}

table.cards_list tr td.dark_top_left_corner {
    background-image: url('Images/blue_lefttop.gif');
    background-repeat: no-repeat;
    background-position: top left;
    width: 11px;
    height: 11px;
}

table.cards_list tr td.top_and_bottom_border {
    background-color: #e6eaed;
    width: auto;
    height: 11px;
    line-height: 11px;
}

table.cards_list tr td.dark_top_right_corner {
    background-image: url('Images/blue_righttop.gif');
    background-repeat: no-repeat;
    background-position: top left;
    width: 11px;
    height: 11px;
}

table.cards_list tr td.bottom_left_corner {
    background-image: url('Images/blue_leftbottom.gif');
    background-repeat: no-repeat;
    background-position: top left;
    width: 11px;
    height: 11px;
}

table.cards_list tr td.bottom_right_corner {
    background-image: url('Images/blue_righbottom.gif');
    background-repeat: no-repeat;
    background-position: top left;
    width: 11px;
    height: 11px;
}

table.cards_list tr.PointsStatusData {
    background-color: #f7f9ff;
    height: 19px;
    font-family: 'Ploni',Arial;
    font-size: 12px;
    color: #000000;
}

    table.cards_list tr td.right_left_border,
    table.cards_list tr.PointsStatusData td.right_left_border {
        width: 11px;
        background-color: #e6eaed;
    }

    table.cards_list tr.PointsStatusData td.NoWrap {
        white-space: nowrap;
    }

    table.cards_list tr.PointsStatusData td.data div.NoWrap {
        white-space: nowrap;
        float: right;
    }

    table.cards_list tr.PointsStatusData td.data {
    }

        table.cards_list tr.PointsStatusData td.data a.link_button,
        table.cards_list tr.PointsStatusData td.data a.link_button:hover {
            text-decoration: none;
            color: #1b5ece;
            font-weight: bold;
        }

table.cards_list tr td.PointsStatusSep {
    width: auto;
    height: 10px;
    background-color: #e6eaed;
    vertical-align: middle;
}

table.points_inner_table {
    width: 100%;
}

    table.points_inner_table tr td.title_td {
        padding-right: 5px;
        line-height: 15px;
        text-align: right;
        vertical-align: middle;
        height: 26px;
        min-height: 26px;
    }

        table.points_inner_table tr td.title_td span {
            font-size: 15px;
            font-weight: bold;
        }

    table.points_inner_table tr td.img_td,
    table.page_title tr td.img_td {
        vertical-align: top;
        padding-bottom: 4px;
        text-align: left;
        line-height: 18px;
        padding-left:78px;
    }

        table.points_inner_table tr td.img_td a.question_mark_button,
        table.page_title tr td.img_td a.question_mark_button {
            float: left;
        }

        table.points_inner_table tr td.img_td .HelpButton { /*position:absolute;z-index:101;left:65px;margin-top:-25px;*/
        }



table.icons_title_bar tr td.point_accumulation_title {
    color: #212121;
    line-height: 25px;
    font-size: 15px;
    /* border-top-left-radius: 8px; */
    font-weight: bold;
    background-color: #a3e3ff;
    vertical-align: middle;
    padding-right: 13px;
    text-align: right;
}

table.icons_title_bar tr td.point_accumulation_title:first-of-type {
    border-top-right-radius:8px;
}

    table.icons_title_bar tr td.point_accumulation_title:last-of-type {
        border-top-left-radius: 8px;
    }

        table.icons_title_bar tr td.point_accumulation_title:last-of-type input[type=image] {
            position: relative;
            right: 4px;
        }


table.icons_title_bar tr td.point_accumulation_grid_tool_bar {
    text-align: left;
    direction: ltr;
    padding: 1px;
    vertical-align: top;
}

table.points_grid_table {
    width: 640px; /*border-collapse:collapse;*/
}
    /*table.points_grid_table table								{ border-collapse:collapse; }*/
    table.points_grid_table tbody.CssBodyClass { /*border: 1px solid gray;*/
        text-align: right;
        font-weight: normal;
        font-family: 'Ploni',Arial;
        font-size: 12px;
    }

    table.points_grid_table thead.CssHeadClass {
        text-align: right;
        font-weight: bold;
        font-family: 'Ploni',Arial;
        font-size: 13;
        color: Black;
        background-color: #f2efea;
    }

        table.points_grid_table thead.CssHeadClass tr th table tr td.CssHeaderCellCaptionClass {
            font-weight: bold;
            font-size: 13px;
            vertical-align: middle;
            color: black;
            padding-right: 4px;
            font-family: 'Ploni',Arial;
            text-align: right;
            height: 26px;
            line-height: 26px;
        }

table.points_inner_table tr td.diners_extra_msg {
    text-align: right;
    padding-top: 10px;
}

table.points_inner_table tr td.extra_details_link {
    text-align: left;
    padding-top: 10px;
}

    table.points_inner_table tr td.extra_details_link a.link_button,
    table.points_inner_table tr td.extra_details_link a.link_button:hover {
        text-decoration: none;
        color: #1b5ece; /*font-weight:bold;*/
    }

/******************/
/*CssCellDataClass*/
/******************/

table.points_grid_table tbody.CssBodyClass tr td.CData {
    height: 24px;
    line-height: 24px;
    border-bottom: none;
    background-image: url('Images/dots.gif');
    background-repeat: repeat-x;
    background-position: bottom;
    text-align: right;
    padding-right: 2px;
    padding-left: 0px;
    color: Black;
}

table.points_grid_table tbody.CssBodyClass tr td.CLeftCell {
    padding: 0px;
}

    table.points_grid_table tbody.CssBodyClass tr td.CLeftCell span.CDebit {
        display: block;
        direction: ltr;
    }

table.transactions_grid td.cell span.CDebit {
    display: block;
    direction: ltr;
}

table.points_grid_table tbody.CssBodyClass tr td.cdata_bottom_border {
    border-bottom: solid 1px #e3e0ec;
    background-image: none;
}

table.points_grid_table tbody.CssBodyClass tr td.cdata_no_bottom_border {
    border-bottom: none;
    background-image: none;
}

table.points_grid_table tbody.CssBodyClass tr td.direction_ltr {
    direction: ltr;
}

td.no_bg_img {
    background-image: none !important;
}
/*table.points_grid_table	tbody.CssBodyClass tr td.CssGridYearRowClass	{ font-weight:bold;background-color:#e6e3dd;padding-right:6px;line-height:26px;height:26px;border-bottom:none;color:Black; }*/
table.transactions_grid tr td.CssGridYearRowClass {
    font-weight: bold;
    background-color: #e6e3dd;
    padding-right: 7px;
    line-height: 26px;
    height: 26px;
    border-bottom: none;
    color: Black;
}


table.points_grid_table tbody.CssBodyClass tr td.CW147Px {
    width: 147px;
}

table.points_grid_table tbody.CssBodyClass tr td.CW129Px {
    width: 129px;
}

table.points_grid_table tbody.CssBodyClass tr td.CW127Px {
    width: 127px;
}

table.points_grid_table tbody.CssBodyClass tr td.CW222Px {
    width: 222px;
}

table.points_grid_table tbody.CssBodyClass tr td.CW220Px {
    width: 220px;
}

table.points_grid_table tbody.CssBodyClass tr td.CW2Px {
    width: 2px;
}

table.PointsAccumulationGrid td.CW160Px {
    width: 160px;
}

table.PointsAccumulationGrid td.CW13Px {
    width: 13px;
}

table.PointsAccumulationGrid td.PointMonthDataSep {
    width: 10px;
}

table.PointsAccumulationGrid td.CW147Px {
    width: 147px;
}

table.PointsAccumulationGrid td.CW119Px {
    width: 119px;
}

table.PointsAccumulationGrid td.CW110Px {
    width: 110px;
}

table.PointsAccumulationGrid td.CW129Px {
    width: 129px;
}

table.PointsAccumulationGrid td.CW127Px {
    width: 127px;
}

table.PointsAccumulationGrid td.CW166Px {
    width: 166px;
}

table.PointsAccumulationGrid td.CW222Px {
    width: 222px;
}


table.points_grid_table tr td.CRightCell,
table.points_grid_table tr th.CRightCell {
    border-right: 1px solid #e3e0ec;
}

table.points_grid_table tr td.CLeftCell,
table.points_grid_table tr th.CLeftCell {
    border-left: 1px solid #e3e0ec;
}

table.points_grid_table tbody.CssBodyClass tr td.CDataYear {
    text-align: right;
    padding-right: 0px;
    color: Black;
    width: 80px;
}

table.points_grid_table tbody.CssBodyClass tr td.CDataMonth {
    color: black;
    width: 46px;
}

table.points_grid_table tbody.CssBodyClass tr td span.CCredit {
    color: black;
}

table.points_grid_table tbody.CssBodyClass tr td.paddingRight12 {
    padding-right: 12px;
}

table.points_inner_table table.transactions_grid td.cell {
    vertical-align: middle;
    direction: ltr; /*padding-right:15px;*/
}

.padding1px {
    padding: 1px;
}

.paddingRight2 {
    padding-right: 2px;
}

.paddingRight5 {
    padding-right: 5px !important;
}

.PaddingRight8 {
    padding-right: 8px;
}

.paddingRight10 {
    padding-right: 10px;
}

.paddingRight15 {
    padding-right: 15px;
}

.PaddingRight19px {
    padding-right: 19px;
}

.paddingLeft10 {
    padding-left: 10px;
}

.paddingLeft15 {
    padding-left: 15px;
}

.paddingBottom1 {
    padding-bottom: 1px;
}

.paddingBottom7 {
    padding-bottom: 7px;
}

.paddingBottom10 {
    padding-bottom: 10px;
}

.paddingBottom15 {
    padding-bottom: 15px !important;
}

.paddingTop1 {
    padding-top: 1px;
}

.paddingTop10 {
    padding-top: 10px;
}

.paddingTop15 {
    padding-top: 15px;
}


.marginBottom2px {
    margin-bottom: 2px;
}

.marginBottom20px {
    margin-bottom: 20px;
}

.no_clear {
    clear: none !important;
}

.fSize15px {
    font-size: 15px;
}

.h0px {
    height: 0px;
    font-size: 0px;
}


/****************/
/* PointsAccumulationFrame */
/****************/
table.PointsAccumulationGrid {
    width: 100% !important;
    table-layout: fixed;
}

    table.PointsAccumulationGrid th.grid_base_header {
        height: 26px;
        vertical-align: middle;
        padding-right: 10px;
    }

    table.PointsAccumulationGrid td.cell {
        height: 23px;
        text-align: right;
        background: #ffffff;
        cursor: default;
        background-image: url('Images/dots.gif');
        background-position: left bottom;
        background-repeat: repeat-x;
        padding: 0px 0px 2px 0px;
        border-collapse: collapse;
        color: #000000;
        padding-right: 10px;
        min-width: 120px;
    }

        table.PointsAccumulationGrid td.cell.totalCssClass {
            color: #1b5ece;
            font-weight: bold;
        }

#FlyCardTGrid td.total {
    color: #1b5ece;
    font-weight: bold;
}
/****************/
/* PointsToMilesExchange */
/****************/
table.PointsToMilesExchange {
    width: 100% !important;
}

table.PPointsToMilesExchange th.grid_base_header {
    height: 26px;
    vertical-align: middle;
}

table.PointsToMilesExchange td.cell {
    height: 23px;
    text-align: right;
    background: #ffffff;
    cursor: default;
    background-image: url('Images/dots.gif');
    background-position: left bottom;
    background-repeat: repeat-x;
    padding: 0px 0px 2px 0px;
    border-collapse: collapse;
    color: #000000;
}

table.PointsAccumulationGrid td.cell.largeCol {
    width: 120px;
}

table.PointsAccumulationGrid.sixCol td.cell,
#tblPointsAccumulationTotalSix td.footer_cell_total {
    width: 90px;
}

#tblPointsAccumulationTotal td.footer_cell_total {
    width: 120px;
}

/****************/
/* AccountFrame */
/****************/

table.account_frame_header tr td.title {
    width: 170px;
}
/*table.account_frame_header tr td.title label		{ text-align:right;padding-right:3px;font-family:'Ploni',Arial;font-size:18px;font-weight:bold;color:Black; }*/
table.account_frame_header tr td {
    padding-bottom: 4px;
}

table.account_frame_header td.combo {
    text-align: right;
    width: 505px;
}

table.account_outer_table tr td.top_right_corner { /*border-top:solid 1px #e3e0ec;border-right:solid 1px #e3e0ec;width:649px;*/
}

table.account_outer_table tr td.top_left_corner { /*background-image:url('Images/whitebox_leftcorner.gif');background-repeat:no-repeat;background-position:top left;width:21px;*/
}

table.account_outer_table div.chart_common_title {
    display: none;
}

table.account_frame {
    text-align: right;
}

    table.account_frame tbody tr td span span.bold_text {
        font-weight: bold;
        direction: rtl;
    }

    table.account_frame td.dots_background {
        background-image: url('Images/dots.gif');
        background-repeat: repeat-x;
        background-position: bottom;
    }
    /*table.account_frame td.dots_row_height				{ line-height:1px; }*/
    /*table.account_frame td.dark_row						{ background-color:#eaf4c2; }
table.account_frame td.reg_row,						
table.account_frame td.reg_row table tr td			{ line-height:24px;vertical-align:middle; }*/
    table.account_frame tr.reg_row td,
    table.hidden_table tr td { /*line-height:24px;*/
        vertical-align: middle;
    }

    table.account_frame tr.dark_row td,
    table.transactions_grid tr.dark_row td {
        background-color: #f7f9ff;
    }

    table.account_frame td.right_border {
        /*border-right: 1px solid #e3e0ec;*/
    }

    table.account_frame td.left_border {
        /*border-left: 1px solid #e3e0ec;*/
    }

    table.account_frame td.top_border {
        /*border-top: 1px solid #e3e0ec;*/
    }

    table.account_frame td.bottom_border {
        /*border-bottom: 1px solid #e3e0ec;*/
    }

    table.account_frame td.icon_td {
        width: 28px;
        height: 24px;
        text-align: center;
    }

    table.account_frame td.subject_td {
        width: 212px;
        text-align: right;
    }

    table.account_frame td.bold_subject {
        font-weight: bold;
    }

    table.account_frame td.data_td {
        width: 402px;
        text-align: right;
    }

    table.account_frame span.cardit_frame_caption {
        font-size: 16px;margin-bottom:10px;
    }

tr.card_messages td.card_messages {
    text-align: right;
    padding-top: 15px;
    padding-bottom: 20px;
}

td.card_messages table.card_messages td {
    text-align: right;
}

td.card_messages table.card_messages {
    width: 100%;
}

    td.card_messages table.card_messages tr td div.comment {
        width: 640px;
    }

table.account_frame tr td.links {
    font-family: 'Ploni',Arial;
    font-size: 12px;
    color: #1b5ece;
    padding-bottom: 5px;
}

    table.account_frame tr td.links a,
    table.account_frame tr td.links a:hover {
        color: #1b5ece;
        text-decoration: none;
    }

.CreditFrameLinkRow {
    cursor: pointer;
}

/*table.account_outer_table tr td*/
.chart_header {
    line-height: 26px;
    height: 26px;
    color: White;
    background-color: #a3e3ff;
}
    /*table.account_outer_table tr td*/
    .chart_header table tr td.chart_header_text {
        width: 100%;
        text-align: right;
        padding-right: 14px;
        background: #a3e3ff;
        vertical-align: middle;
        font-family: 'Ploni',Arial;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        vertical-align: middle;
        color: #212121;
        padding-top: 7px;
        padding-bottom: 7px;
        /* height: 22px; */
        border-radius: 8px;
        line-height: 23px;
    }
    /*table.account_outer_table tr td*/ .chart_header table tr td.chart_header_icon {
        padding-top: 1px;
        padding-left: 3px;
        line-height: 0px;
        height: 0px;
    }

div.chart_title {
    line-height: 26px;
    height: 26px;
    color: White;
    background-color: #0082CA;
    text-align: right;
    padding-right: 14px;
    vertical-align: middle;
    font-family: 'Ploni',Arial;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    width: auto;
    margin: 0px;
}

table.account_outer_table tr td.chart_footer {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
}

    table.account_outer_table tr td.chart_footer hr {
        width: 307px;
        height: 1px;
        color: #e3e0ec;
    }

    table.account_outer_table tr td.chart_footer div {
        padding: 10px 0px 10px 140px;
    }

        table.account_outer_table tr td.chart_footer div img {
            padding: 0px 3px;
        }

table.account_outer_table div.chart_common_title {
    display: none;
}

td.chart_header_icon div.chart_footer {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

    td.chart_header_icon div.chart_footer div.print_label {
        width: 22px;
    }

/***********************/
/* PasswordChangingApp */
/***********************/

table.password_changing_pnl {
    width: 640px;
}

    table.password_changing_pnl table.top_table {
        position: relative;
        width: 100%;
    }

        table.password_changing_pnl table.top_table td.img_td {
            vertical-align: bottom;
            padding-bottom: 4px;
            text-align: left;
            line-height: 18px;
        }

            table.password_changing_pnl table.top_table td.img_td .HelpButton {
                position: absolute;
                z-index: 101;
                left: 0px;
                margin-top: -20px;
            }

        table.password_changing_pnl table.top_table td.top_row {
            vertical-align: middle;
        }

        table.password_changing_pnl table.top_table td.text_before_info_icon {
            width: 140px;
        }

        table.password_changing_pnl table.top_table td.help_icon_td {
            text-align: left;
            width: 200px;
        }

            table.password_changing_pnl table.top_table td.help_icon_td a.question_mark_button {
                float: left;
            }

        table.password_changing_pnl table.top_table img.help_icon {
        }

    table.password_changing_pnl table.red_info {
        margin-top: 15px;
    }

    table.password_changing_pnl table.password_tbl {
        width: 100%;
        margin-top: 15px;
    }

        table.password_changing_pnl table.password_tbl tr td:first-of-type {
            padding-right: 15px;
        }



    table.password_changing_pnl table.password_tbl tr:first-of-type td  {
        padding-top:15px;
    }

        table.password_changing_pnl table.password_tbl tr:first-of-type td:first-of-type {
            border-top-right-radius:8px;
        }

        table.password_changing_pnl table.password_tbl tr:first-of-type td:last-of-type {
            border-top-left-radius: 8px;
        }


        table.password_changing_pnl table.password_tbl tr:nth-of-type(3) td:first-of-type {
            border-bottom-right-radius: 8px;
        }

        table.password_changing_pnl table.password_tbl tr:nth-of-type(3) td:last-of-type {
            border-bottom-left-radius: 8px;
        }

        table.password_changing_pnl table.password_tbl tr td.reg_row {
            height: 24px;
            font-size: 15px;
            padding-bottom: 8px;
        }

        table.password_changing_pnl td.dots_cell,
        table.password_changing_pnl table.password_tbl td.dots_cell {
            background-image: url('Images/dots.gif');
            background-repeat: repeat-x;
            background-position: bottom;
            line-height: 10px;
        }

        table.password_changing_pnl table.password_tbl td.vld_cell {
            padding: 10px 0px;
        }

        table.password_changing_pnl table.password_tbl td.buttons_cell {
            padding: 12px 0px;
        }

        table.password_changing_pnl table.password_tbl td.label {
            width: 230px;
            line-height: 30px;
            vertical-align: top;
            padding-top: 0px;
            margin-top: -5px;
        }

        table.password_changing_pnl table.password_tbl td.text_box {
            width: 207px;
        }

        table.password_changing_pnl table.password_tbl td.info_icon {
            width: 22px;
            vertical-align: top;
            padding-top: 3px;
            text-align: left;
        }

        table.password_changing_pnl table.password_tbl td.validators {
            width: 170px;
            padding: 0px;
            padding-top: 3px;
            padding-right: 2px;
        }

        table.password_changing_pnl table.password_tbl td.text_box input {
            width: 205px;
            border: solid 1px #e3e0ec;
            color: #2092b6;
            font-family: 'Ploni',Arial;
            font-size: 14px;
            line-height: 20px;
            padding: 0px;
            height: 20px;
        }

        table.password_changing_pnl table.password_tbl td.text_box select {
            width: 207px;
            border: solid 1px #e3e0ec;
            color: #2092b6;
            font-size: 16px;
            padding: 0px;
        }

        table.password_changing_pnl table.password_tbl td.v20 div.vld_summary {
            padding: 10px 0px;
        }

table.vld_summary_margin {
    margin: 10px 0px;
}

table.password_changing_pnl table.password_tbl table.success_info td.displayimage {
    background-image: url(images/icon_ishur.gif);
}

/*******************/
/* CustomerDetails */
/*******************/

/*div.customer_details_header span							{ text-align:right;padding-right:3px;font-family:'Ploni',Arial;font-size:18px;font-weight:bold;padding-bottom:4px;color:Black; }*/
table.customer_details {
    width: 640px;
}

    table.customer_details tr td.dots {
        background-image: url('Images/dots.gif');
        background-repeat: repeat-x;
        background-position: bottom;
        line-height: 30px;
    }

    table.customer_details tr td.msg {
        padding-bottom: 20px;
    }

        table.customer_details tr td.msg span {
            color: Black;
            font-family: 'Ploni',Arial;
        }

            table.customer_details tr td.msg span span.top_msg {
                display: block;
                font-size: 16px;
                padding-bottom: 4px;
                font-weight: bold;
            }

            table.customer_details tr td.msg span span.bottom_msg {
                font-size: 15px;
                font-weight: 500;
            }

    table.customer_details tr td table.outer_tbl tr td.dots {
        background-image: url('Images/dots.gif');
        background-repeat: repeat-x;
        background-position: left bottom;
        line-height: 1px;
    }

    table.customer_details tr td table.outer_tbl tr td.col_width {
        width: 297px;
    }

    table.customer_details tr td table.outer_tbl tr td.details {
        line-height: 23px;
    }

        table.customer_details tr td table.outer_tbl tr td.details table.inner_tbl {
            width: 338px;
            height: 35px;
            line-height: 35px;
        }

            table.customer_details tr td table.outer_tbl tr td.details table.inner_tbl tr td {
                color: Black;
            }

                table.customer_details tr td table.outer_tbl tr td.details table.inner_tbl tr td.title {
                    font-weight: bold;
                    padding-right: 3px;
                    text-align: right;
                }

                table.customer_details tr td table.outer_tbl tr td.details table.inner_tbl tr td.data {
                    padding-left: 6px;
                    text-align: center;
                }

                table.customer_details tr td table.outer_tbl tr td.details table.inner_tbl tr td.number {
                    text-align: left;
                    padding-left: 3px;
                }

                table.customer_details tr td table.outer_tbl tr td.details table.inner_tbl tr td.prefix {
                    width: 22px;
                }

    table.customer_details tr td.form_tbl_cell {
        padding: 0px;
        padding-top: 15px;
    }

        table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_background {
            background-color: #e6eaed;
        }

        table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_top_bottom {
            background-color: #e6eaed;
            line-height: 11px;
        }

        table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_top_right {
            background-image: url('Images/blue_righttop.gif');
            background-position: top;
            background-repeat: no-repeat;
            width: 11px;
            height: 11px
        }

        table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_top_left {
            background-image: url('Images/blue_lefttop.gif');
            background-position: top;
            background-repeat: no-repeat;
            width: 11px;
            height: 11px
        }

        table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_bottom_right {
            background-image: url('Images/blue_righbottom.gif');
            background-position: top;
            background-repeat: no-repeat;
            height: 11px
        }

        table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_bottom_left {
            background-image: url('Images/blue_leftbottom.gif');
            background-position: top;
            background-repeat: no-repeat;
            height: 11px
        }

        table.customer_details tr td.form_tbl_cell table.form_tbl tr td label {
            color: Black;
            font-family: 'Ploni',Arial;
            font-size: 14px;
        }

        table.customer_details tr td.form_tbl_cell table.form_tbl tr td input.text_box {
            border: 1px solid #e3e0ec;
            font-family: 'Ploni',Arial;
            font-size: 14px;
            height: 20px;
            vertical-align: middle;
            text-align: right;
            line-height: 20px;
        }

        table.customer_details tr td.form_tbl_cell table.form_tbl tr td select {
            vertical-align: middle;
        }

        table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_background table tr td.email {
            width: 259px;
        }

            table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_background table tr td.email div input {
                margin-right: 5px;
                padding: 1px;
            }

        table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_background table tr td.gap {
            width: 22px;
        }

        table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_background table tr td.cell_phone {
            width: 256px;
        }

            table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_background table tr td.cell_phone div input {
                margin: 0px 3px;
                padding: 0px;
            }

            table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_background table tr td.cell_phone div label,
            table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_background table tr td.email div label {
                font-weight: bold;
            }
            /*table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_background table tr td.cell_phone div.MobilePhoneNumPrefix
	{ width:27px; }*/
            table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_background table tr td.cell_phone div.MobilePhoneNumPrefix Table.ajax__combobox_inputcontainer {
                vertical-align: top;
            }

        table.customer_details tr td.form_tbl_cell table.form_tbl tr td.blue_background table tr td.update_button {
            width: 90px;
            text-align: left;
            padding-left: 3px;
        }

    table.customer_details tr td table.links_table tr td.links_td {
        padding-top: 4px;
    }

        table.customer_details tr td table.links_table tr td.links_td a {
            color: #1b5ece;
            text-decoration: none;
            margin-left: 3px;
            margin-top: 5px;
        }

            table.customer_details tr td table.links_table tr td.links_td a:hover {
                color: #1b5ece;
                text-decoration: underline;
            }

    table.customer_details tr td table.messages_tbl {
        display: none;
    }

        table.customer_details tr td table.messages_tbl tr td.message_td {
            vertical-align: middle;
        }

    table.customer_details tr td table.success_info tr.center td.center {
        font-weight: bold;
        width: 591px;
    }
    /*SucceesMessage*/

    table.customer_details table.success_info td.displayimage {
        background-image: url(images/icon_ishur.gif);
    }
    /*******************************************************************/
    /******** MSP 791 - New Customer details 17/12/12 *****************/
    /*****************************************************************/
    table.customer_details tr td .tbl-edit-details {
        background-color: #f7f9ff;
        width: 285px;
    }

        table.customer_details tr td .tbl-edit-details tr {
            line-height: 32px;
        }

    table.customer_details tr td .edit-details-rounded-gray {
        background: #e6eaed repeat-x; /* For older browser that not support CSS 3*/
        background: url('Images/blue_lefttop.gif') no-repeat top left, url('Images/blue_righttop.gif') no-repeat top right, url('Images/blue_leftbottom.gif') no-repeat bottom left, url('Images/blue_righbottom.gif') no-repeat bottom right, #e6eaed repeat-x;
        padding: 10px;
    }

    table.customer_details tr td table.tbl-edit-details tr td {
        color: Black;
    }

        table.customer_details tr td table.tbl-edit-details tr td.title {
            font-weight: bold;
            text-align: right;
            vertical-align: top;
            width: 97px;
        }

        table.customer_details tr td table.tbl-edit-details tr td.number {
            text-align: right;
            padding-top: 4px;
            *padding-top: 0px;
            padding-right: 25px;
            width: 80px;
        }

        table.customer_details tr td table.tbl-edit-details tr td.validator {
            width: 9px;
        }

            table.customer_details tr td table.tbl-edit-details tr td.validator img {
                float: left;
                margin-top: 3px
            }

        table.customer_details tr td table.tbl-edit-details tr td.number .textbox {
            width: 152px;
            width: 152px\9;
        }

        table.customer_details tr td table.tbl-edit-details tr td.prefix {
            padding: 0px;
            padding-right: 15px;
            padding-top: 4px;
            margin: 0px;
            *padding-top: 1px; /* IE7 Fix yuda */
        }

            table.customer_details tr td table.tbl-edit-details tr td.prefix .ajax__combobox_itemlist {
                line-height: normal;
            }

    table.customer_details table.white_info td.center {
        font-weight: normal;
        line-height: 20px;
    }

/************************/
/* ChangeDebitDate.aspx */
/************************/

.HighlightedText {
    font-weight: bold;
}

td span.card_brief,
td.card_brief,
td.card_brief span.card_brief_bold {
    font-size: 14px;
}

table.tbl100 table.input_form td.topleft_cell {
    background-image: url('Images/bg_blue_top_corner_left.gif');
    background-position: bottom;
    background-repeat: no-repeat;
    width: 10px;
    height: 11px;
}

table.tbl100 table.input_form td.topmiddle_cell,
table.tbl100 table.input_form td.bottommiddle_cell {
    background-color: #e6eaed;
    height: 11px;
    width: 323px;
}

table.tbl100 table.input_form td.topright_cell {
    background-image: url('Images/bg_blue_top_corner_right.gif');
    background-position: bottom;
    background-repeat: no-repeat;
    width: 10px;
    height: 11px;
}

table.tbl100 table.input_form td.bottomleft_cell {
    background-image: url('Images/bg_blue_bottom_corner_left.gif');
    background-position: bottom;
    background-repeat: no-repeat;
    width: 10px;
    height: 11px;
}

table.tbl100 table.input_form td.bottomright_cell {
    background-image: url('Images/bg_blue_bottom_corner_right.gif');
    background-position: bottom;
    background-repeat: no-repeat;
    width: 10px;
    height: 11px;
}

table.tbl100 table.input_form td.middle_cell {
    padding-right: 15px;
    width: 320px;
    border-radius: 8px;
    padding-top: 10px;
    background-color: #f7f9ff;
    padding-bottom: 11px;
}

table.tbl100 table.input_form td.card_brief span.card_brief,
span.card_brief_bold,
table.tbl100 table.input_form td.card_brief label.card_brief {
    font-weight: bold;
}

table.tbl100 table.input_form td span.validator_pos {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 7px;
}

table.tbl100 table.input_form td div.vertical_middle {
    vertical-align: bottom;
}

table.tbl100 td.dots { /*padding-left:15px;_padding-left:0px;*/
}

    table.tbl100 td.dots div {
        background-image: url('Images/dots.gif');
        background-repeat: repeat-x;
        background-position: center;
        line-height: 1px;
        padding: 18px 0px;
    }

table.tbl100 td.HighlightedText_cell {
    padding-right: 20px;
    _padding-right: 35px;
}

    table.tbl100 td.HighlightedText_cell td {
        text-align: right;
        color: #ce1e20;
        font-size: 13px;
    }

        table.tbl100 td.HighlightedText_cell td.asterisk_cell {
            vertical-align: top;
        }

table.card_acc_selectionCharts a.chart_link {
    font-size: 13px;
    color: #1b5ece;
}

/************************/
/* HomePage.aspx */
/************************/
.account_frame .icrease-frame {
    margin-right: 30px;
}
