/* popup.aspx 13 DebitSpreadTerms */
.teramPage .w {
    margin-right: 20px;
}

.teramPage .underline {
    text-decoration: underline;
}

.teramPage ol {
    counter-reset: item;
    padding-left: 20px;
}

.teramPage li {
    display: block;
}

.teramPage li:before {
    content: counters(item, ".") ".";
    counter-increment: item;
}
.teramPage ol {
    display: table;
    margin: 0px;
    padding-right: 20px;
}

.teramPage ol > li {
    display: table-row;
}

.teramPage ol > li::before {
    display: table-cell; /* aha! */
    text-align: right;
}

.teramPage span {
    display: block;
}

.teramPage .bold {
    font-weight: bold;
}

@media screen and (max-width : 480px) {
    .teramPage ol {
        padding-left: 0px;
        padding-right: 0px;
    }

    .teramPage .w {
        margin-right: 0px;
    }
}