.font-style1 {
    font-family: 'Ploni',Arial;
    font-size: 12px;
}

.font-style2 {
    font-family: 'Ploni',Arial;
    font-size: 14px;
}

.font-style3 {
    font-family: 'Ploni',Arial;
    font-size: 16px;
}

.font-style4 {
    font-family: 'Ploni',Arial;
    font-size: 18px;
}

.font-bold {
    font-weight: bold;
}

.color-a {
    color: #ffffff;
}

.color-b {
    color: #000000;
}

.color-c {
    color: #005288;
}

.color-d {
    color: #eaeaea;
}

.debt-ind-container {
    direction: rtl;
    max-width: 680px;
}

.header-intro {
    margin-top: 8px;
    margin-bottom: 14px;
}

.header-join {
    margin-bottom: 16px;
}

.blue-strip {
    width: 680px;
    /* font-size: 15px; */
    height: 33px;
    border-top-left-radius: 8px;
    background-color: #a3e3ff;
    color: #212121;
    border-top-right-radius: 8px;
}

.blue-strip-header {
    position: relative;
    font-size: 16px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right: 10px;
    font-weight: 600;
}

.benefits-section {
    margin: 25px 10px 14px auto;
}

.benefit-item {
   /* margin-bottom: 19px;*/
   margin-top:15px;
    height: auto;
    display: table;
}

    .benefit-item:last-child {
        margin-bottom: 0 !important;
    }

.checkbox-desc > div {
    margin-bottom: 8px;
}

.checkbox-desc {
    display: inline-block;
    width: 600px;
}

.checkbox-item {
    margin-left: 20px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    float:right;
    margin-top:10px;
}

.checkbox-desc-card > div {
    margin-bottom: 8px;
}

    .checkbox-desc-card > div:nth-child(2) {
        margin-bottom: 0;
    }

.checkbox-desc-card {
    max-width: 550px;
    display: inline-block;
}

.checkbox-item-card {
    margin-left: 20px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    float:right;
    margin-top:10px;
}

    .checkbox-item-card > input[type=checkbox] {
        vertical-align: middle;
    }


.checkbox-item > input[type=checkbox] {
    vertical-align: middle;
}

.card-img {
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    padding-right: 10px;
    width: 69px;
    margin-top: -7px;
}


.err-benefit {
    visibility: hidden;
    padding-right: 40px;
    color: #ff0000;
}

.small-letters {
    width: 670px;
    border-radius: 8px;
    padding-right: 10px;
    background-color: #f7f9ff;
    min-height: 95px;
}

.small-letters-header {
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 11px;
}

.small-letters ul {
    margin: 0;
    padding: 0;
    padding-right: 15px;
    padding-bottom: 15px;
}

.small-letters li:nth-child(n+2) {
    display: none;
}

.small-letters li.full-info {
    display: list-item;
}

.info-div {
    background-color: #f7f9ff;
    border-bottom-left-radius:8px;
    padding-bottom: 12px;
}

.info-btn {
    color: #005288;
    cursor: pointer;
}

.info-img {
    vertical-align: middle;
}

.debt-ind-footer {
    height: 50px;
    margin: 15px 0 15px 15px;
}

.btn-left {
    float: left;
    cursor: pointer;
}


.blue-strip-long {
    width: 680px;
    height: 117px;
    background-color: #005288;
    color: #ffffff;
    text-align: center;
}

.approve {
    margin-top: 16px;
    margin-bottom: 16px;
}

.thank-you-header {
    margin: 22px 10px 24px 0;
    line-height: 22px;
}

.thank-you-benefits-section {
    margin: 15px 10px 15px auto;
}

.thank-you-benefit-item {
    margin-bottom: 14px;
    height: auto;
    display: table;
}

    .thank-you-benefit-item:nth-child(3n) {
        margin-bottom: 15px;
    }

.thank-you-footer {
    margin-bottom: 31px;
}

.thank-you-checkbox-item {
    margin-left: 20px;
    display: inline-block;
}

.thank-you-checkbox-desc {
    display: inline-block;
    width: 630px;
}

.thank-you-change-mind {
    padding-right: 10px;
    margin-bottom: 31px;
}

.update-small-letters {
    padding-right: 10px;
    margin-bottom: 15px;
}



.debt-ind-popup {
    position: absolute;
    width: 463px;
    min-height: 95px;
    overflow: auto;
    padding: 12px;
    z-index: 9999;
    margin: 0 auto;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
}

    .debt-ind-popup::before {
        content: " ";
        background-color: black;
        opacity: 0.8;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .debt-ind-popup::after {
        content: " ";
        background-color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        top: 0;
        left: 0;
    }

.debt-ind-close {
    margin: 17px 0 0 17px;
    height:35px;
}

.debt-ind-close-x {
    float: left;
}

.debt-ind-close > img {
    cursor: pointer;
}

.debt-ind-icon {
    text-align: center;
    margin: 0 0 27px 0;
}

.debt-ind-body {
    line-height: 22px;
}



.debt-ind-popup-footer {
    height: 35px;
    margin-top: 17px;

}
.debt-ind-buttons {
    position: relative;
    left: 0;
    right: 0;
}

    .debt-ind-buttons > img {
        cursor: pointer;
    }

        .debt-ind-buttons > img:nth-child(2) {
            padding-right: 59px;
        }


.fb-cust-margin-bot{
    margin-bottom:0px !important;
    font-size:15px;
}