
.header-chart {
    color: #212121;
    background-color: #a3e3ff;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
